{% extends 'staff_template/base_template.html' %}
{% block page_title %}
برنامج الدوام
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<section class="content">


  <div class="container-fluid">
    <div class="row"> {% for at in att  %}
      <div class="col-md-9 mx-auto">
        <!-- general form elements -->





        <div class="card card-primary">


          <div class="card-header">
            <h3 class="card-title"> {{at.course_id.course_name}}</h3>
          </div>

          {% if at.image.url != None %}
          <img src="{{at.image.url}}" class="img-responsive" alt="">

          {% else %}
          <H2 class="p-5">لم تقم الإدارة بإضافة برنامج دوام بعد .</H2>
          {% endif %}
        </div>
      </div>


    </div>{% endfor %}
  </div>
  </div>
</section>
<!-- /.content -->
{% endblock main_content %}